## 12. Exercícios

1 - Realize os passos seguintes utilizando o mesmo dataset do íris da aula anterior ('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data').

a. Use o pandas para ler o arquivo como um dataframe. Obs: precisa ler o dataframe sem que a primeira linha corresponda ao nome das colunas.

In [35]:
import pandas as pd
import numpy as np

table = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
table

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

b. Sabendo que as cinco colunas correspondem, nessa ordem, a: 
   * 1. sepal length (cm)
   * 2. sepal width (cm)
   * 3. petal length (cm)
   * 4. petal width (cm)
   * 5. class: <br>
        - Iris Setosa <br>
        - Iris Versicolor <br>
        - Iris Virginica <br>

Leia novamente o arquivo passando o nome das colunas como argumento.

In [36]:
table = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', 
                    names=['sepal_length_(cm)','sepal_width_(cm)','petal_length_(cm)', 'petal_width_(cm)', 'class'])
table

,sepal_length_(cm),sepal_width_(cm),petal_length_(cm),petal_width_(cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

c. Crie uma coluna para o volume sabendo que ele é calculado por (pi x petallength x sepal_length^2)/3

In [37]:
table['sepal_length_square'] = table[['sepal_length_(cm)']]**2
table['volume'] = (np.pi*table[['petal_length_(cm)','sepal_length_square']].product(axis=1))/3
table

,sepal_length_(cm),sepal_width_(cm),petal_length_(cm),petal_width_(cm),class,sepal_length_square,volume
0,5.1,3.5,1.4,0.2,Iris-setosa,26.01,38.132652
1,4.9,3.0,1.4,0.2,Iris-setosa,24.01,35.200498
2,4.7,3.2,1.3,0.2,Iris-setosa,22.09,30.072372
3,4.6,3.1,1.5,0.2,Iris-setosa,21.16,33.238050
4,5.0,3.6,1.4,0.2,Iris-setosa,25.00,36.651914
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,44.89,244.445230
146,6.3,2.5,5.0,1.9,Iris-virginica,39.69,207.816354
147,6.5,3.0,5.2,2.0,Iris-virginica,42.25,230.069302
148,6.2,3.4,5.4,2.3,Iris-virginica,38.44,217.373079
149,5.9,3.0,5.1,1.8,Iris-virginica,34.81,185.910028

c. Calcule a média de cada atributo das flores.

In [38]:
table[:].mean()

sepal_length_(cm)        5.843333
sepal_width_(cm)         3.054000
petal_length_(cm)        3.758667
petal_width_(cm)         1.198667
sepal_length_square     34.825667
volume                 152.710005
dtype: float64

d. Novamente, calcule a média de cada atributo das flores só que agora faça-o separadamente para cada um dos tipos de íris indicados na coluna "class". 
Utilize o loop for para reduzir quantidade de linhas. <br>
Existe diferença entre as médias de cada um dos atributos das flores?

In [39]:
for i in ['Iris-setosa','Iris-versicolor','Iris-virginica']:
    print(i,':')
    print(table[table['class'] == i].mean())
    print()

Iris-setosa :
sepal_length_(cm)       5.006000
sepal_width_(cm)        3.418000
petal_length_(cm)       1.464000
petal_width_(cm)        0.244000
sepal_length_square    25.181800
volume                 38.762373
dtype: float64

Iris-versicolor :
sepal_length_(cm)        5.936000
sepal_width_(cm)         2.770000
petal_length_(cm)        4.260000
petal_width_(cm)         1.326000
sepal_length_square     35.497200
volume                 160.560036
dtype: float64

Iris-virginica :
sepal_length_(cm)        6.588000
sepal_width_(cm)         2.974000
petal_length_(cm)        5.552000
petal_width_(cm)         2.026000
sepal_length_square     43.798000
volume                 258.807607
dtype: float64

e. Adicione uma nova coluna com o valor da média de 'sepal length' apenas para a íris da classe Iris-setosa.

f. Adicione uma coluna com a média de 'sepal length' de tal forma que cada tipo de íris tenha seu respectivo valor de média. Utilize o loop for e faça isso sem utilizar métodos que não foram ensinados na aula de hoje.