1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Contém informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

a) Quais foram os produtos vendidos?

In [61]:
import pandas as pd

customer = pd.read_csv('./data/customer.csv')
customer

   c_id Customer
0     1     Rabi
1     2     Raju
2     3     Alex
3     4     Rani
4     5     King
5     7     Ronn
6     8      Jem
7     9      Tom

In [62]:
products = pd.read_csv('./data/products.csv')
products

   p_id       product  price
0     1     Hard Disk     80
1     2           RAM     90
2     3       Monitor     75
3     4           CPU     55
4     5      Keyboard     20
5     6         Mouse     10
6     7   Motherboard     50
7     8  Power supply     20

In [63]:
sales = pd.read_csv('./data/sales.csv')
sales

   sale_id  c_id  p_id  product  qty store
0        1     2     3  Monitor    2   ABC
1        2     2     4      CPU    1   DEF
2        3     1     3  Monitor    3   ABC
3        4     4     2      RAM    2   DEF
4        5     2     3  Monitor    3   ABC
5        6     3     3  Monitor    2   DEF
6        7     2     2      RAM    3   ABC
7        8     3     2      RAM    2   DEF
8        9     2     3  Monitor    2   ABC

In [64]:
# resposta a

import numpy as np

sold = sales['product'].unique()
#sold = sold.tolist()
sold

array(['Monitor', 'CPU', 'RAM'], dtype=object)

b) E os não vendidos?

In [65]:
import numpy as np
all_prod = products['product'].unique()
#not_sold = not_sold.tolist()
not_sold =  [i for i in all_prod if i not in sold]
not_sold

['Hard Disk', 'Keyboard', 'Mouse', 'Motherboard', 'Power supply']

c) Quais foram as cinco maiores vendas? Salve essas vendas em um arquivo excel.

In [66]:
sort_sales = sales.sort_values('qty', ascending=False)
top_five = sort_sales[0:5]
top_five.to_excel('./transformed/top_five_sales.xlsx', index=False)

d) Liste a quantidade vendida de cada produto. Utilize um loop for para isso.

In [81]:
monitor = 0
cpu = 0
ram = 0

for i in range(sales.shape[0]):
    if sales.iloc[i]['product'] == 'Monitor':
        monitor += sales.iloc[i]['qty']
    elif sales.iloc[i]['product'] == 'CPU':
        cpu += sales.iloc[i]['qty']
    else:
        ram += sales.iloc[i]['qty']

print(f"Monitor: {monitor} \nCPU: {cpu} \nRAM: {ram}")

Monitor: 12
CPU: 1
RAM: 7

In [80]:
sales.groupby(['product']).sum()

         sale_id  c_id  p_id  qty
product
CPU            2     2     4    1
Monitor       24    10    15   12
RAM           19     9     6    7

e) Liste a quantidade vendida de cada loja.

In [82]:
store_abc = 0
store_def = 0

for i in range(sales.shape[0]):
    if sales.iloc[i]['store'] == 'ABC':
        store_abc += sales.iloc[i]['qty']
    else:
        store_def += sales.iloc[i]['qty']
    
print(f"ABC: {store_abc} \nDEF: {store_def}")

ABC: 13
DEF: 7

In [83]:
sales.groupby('store').sum()

       sale_id  c_id  p_id  qty
store
ABC         25     9    14   13
DEF         20    12    11    7

f) Liste a quantidade vendida de cada produto por loja.

In [89]:
monitor_abc = 0
cpu_abc = 0
ram_abc = 0
monitor_def = 0
cpu_def = 0
ram_def = 0

for i in range(sales.shape[0]):
    if sales.iloc[i]['store'] == 'ABC':
        if sales.iloc[i]['product'] == 'Monitor':
            monitor_abc += sales.iloc[i]['qty']
        elif sales.iloc[i]['product'] == 'CPU':
            cpu_abc += sales.iloc[i]['qty']
        else:
            ram_abc += sales.iloc[i]['qty']
    else:
        if sales.iloc[i]['product'] == 'Monitor':
            monitor_def += sales.iloc[i]['qty']
        elif sales.iloc[i]['product'] == 'CPU':
            cpu_def += sales.iloc[i]['qty']
        else:
            ram_def += sales.iloc[i]['qty']

print(f'''Store ABC: \n-Monitor: {monitor_abc} \n-CPU: {cpu_abc} \n-RAM: {ram_abc} \n
Store DEF: \n-Monitor: {monitor_def} \n-CPU: {cpu_def} \n-RAM: {ram_def}''')

Store ABC:
-Monitor: 10
-CPU: 0
-RAM: 3

Store DEF:
-Monitor: 2
-CPU: 1
-RAM: 4

In [90]:
sales.groupby(['store','product']).sum()

               sale_id  c_id  p_id  qty
store product
ABC   Monitor       18     7    12   10
      RAM            7     2     2    3
DEF   CPU            2     2     4    1
      Monitor        6     3     3    2
      RAM           12     7     4    4